### Local logback config ###
logback-test.xml

out/
.idea/
*.iml
lib/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Java ###
# Compiled class file
*.class


### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

